/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'aaarghnormal';
  src: url("fonts/Aaargh-webfont.eot");
  src: url("fonts/Aaargh-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Aaargh-webfont.woff") format("woff"), url("fonts/Aaargh-webfont.ttf") format("truetype"), url("fonts/Aaargh-webfont.svg#aaarghnormal") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'afta_sansregular';
  src: url("fonts/aftasansthin-regular-webfont.eot");
  src: url("fonts/aftasansthin-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/aftasansthin-regular-webfont.woff2") format("woff2"), url("fonts/aftasansthin-regular-webfont.woff") format("woff"), url("fonts/aftasansthin-regular-webfont.ttf") format("truetype"), url("fonts/aftasansthin-regular-webfont.svg#afta_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'chivoblack';
  src: url("fonts/chivo-black-webfont.eot");
  src: url("fonts/chivo-black-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/chivo-black-webfont.woff2") format("woff2"), url("fonts/chivo-black-webfont.woff") format("woff"), url("fonts/chivo-black-webfont.ttf") format("truetype"), url("fonts/chivo-black-webfont.svg#chivoblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'chivobold';
  src: url("fonts/chivo-bold-webfont.eot");
  src: url("fonts/chivo-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/chivo-bold-webfont.woff2") format("woff2"), url("fonts/chivo-bold-webfont.woff") format("woff"), url("fonts/chivo-bold-webfont.ttf") format("truetype"), url("fonts/chivo-bold-webfont.svg#chivobold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'portfolio-icons';
  src: url("fonts/portfolio-icons.eot?4rnmjs");
  src: url("fonts/portfolio-icons.eot?#iefix4rnmjs") format("embedded-opentype"), url("fonts/portfolio-icons.ttf?4rnmjs") format("truetype"), url("fonts/portfolio-icons.woff?4rnmjs") format("woff"), url("fonts/portfolio-icons.svg?4rnmjs#portfolio-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'portfolio-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-logo-both:before {
  content: "\e607"; }

.icon-logo-both:after {
  content: "\e608"; }

.icon-logo-beg:before {
  content: "\e607"; }

.icon-logo-end:before {
  content: "\e608"; }

.icon-logo:before {
  content: "\e600"; }

.icon-github:before {
  content: "\e601"; }

.icon-linkedin:before {
  content: "\e602"; }

.icon-codepen:before {
  content: "\e603"; }

.icon-chrome:before {
  content: "\e604"; }

.icon-twitter:before {
  content: "\e605"; }

.icon-dribbble:before {
  content: "\e606"; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-size: 2.8rem; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Josefin Slab", "Gill Sans", "Gill Sans MT", Calibri, serif;
  font-size: 2.2rem;
  background: #fdfdff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Overlock", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  margin: .4em 0;
  color: #3E3E3E;
  font-weight: 900; }

h1 {
  font-size: 3.4rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 2.0rem; }

.subheading {
  font-family: "Special Elite", "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; }

small {
  font-size: 1.6rem; }

p {
  margin: 30px 0;
  line-height: 1.6; }

img {
  width: 100%; }

.alignleft {
  width: 40%;
  max-width: 300px;
  height: auto;
  float: left;
  padding: 4px 6.66667px 6.66667px 0; }

.alignright {
  width: 40%;
  max-width: 300px;
  height: auto;
  float: right;
  padding: 4px 0 10px 10px; }

.aligncenter {
  width: 80%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  clear: both;
  display: block; }

figcaption {
  text-align: center; }

b, strong {
  font-weight: 700; }

em, i {
  font-style: italic; }

blockquote {
  line-height: 1.4;
  margin-left: 20px;
  padding: 10px;
  background: #fafafa; }

pre, code {
  font-family: Consolas, monaco, monospace;
  font-size: 1.8rem; }

pre {
  margin-left: 20px;
  padding: 10px 20px;
  border-left: 3px #dce8ea solid;
  background: whitesmoke;
  overflow: scroll; }

pre p {
  margin: 0;
  line-height: 1.4; }

ul {
  margin: 10px 40px; }

li {
  line-height: 1.6; }

ul.meta {
  margin: 10px 20px; }

.meta li {
  line-height: 1; }

.meta a {
  margin-right: 5px; }

nav {
  overflow: auto; }

a {
  text-decoration: none;
  color: #D0CD22; }

a[class|=icon], .logo a, header a {
  color: #3E3E3E; }

a:hover, a:hover h2,
a:focus, a:focus h2 {
  color: #dce8ea; }

a:active, a:active h2 {
  color: #A1A1A1; }

a[class|=icon] span {
  position: absolute;
  left: -3000em; }

.logo {
  font-family: "chivoblack", "Arial Black", sans-serif;
  font-size: 5rem;
  white-space: nowrap; }

.logo a {
  position: relative;
  vertical-align: middle; }

.icon-logo {
  vertical-align: middle; }

.logo .icon-logo:before {
  font-size: 8rem; }

.icon-logo-both {
  font-size: 3rem; }

.resume .icon-logo:before {
  font-size: 5rem;
  vertical-align: top; }

.blog .grid > header .subheading {
  padding: 40px;
  margin: 0; }

.blog header .subheading {
  border-left: #3E3E3E dotted 2px;
  border-width: 15px;
  -moz-border-image: url(images/border-star.png) 0 0 0 15 repeat;
  -webkit-border-image: url(images/border-star.png) 0 0 0 15 repeat;
  -o-border-image: url(images/border-star.png) 0 0 0 15 repeat;
  border-image: url(images/border-star.png) 0 0 0 15 repeat; }

.blog header a:hover .subheading,
.blog header a:focus .subheading {
  border-left: #3E3E3E dotted 2px;
  border-width: 15px;
  -moz-border-image: url(images/border-hover-star.png) 0 0 0 15 repeat;
  -webkit-border-image: url(images/border-hover-star.png) 0 0 0 15 repeat;
  -o-border-image: url(images/border-hover-star.png) 0 0 0 15 repeat;
  border-image: url(images/border-hover-star.png) 0 0 0 15 repeat; }

.blog header a:active .subheading {
  border-left: #3E3E3E dotted 2px;
  border-width: 15px;
  -moz-border-image: url(images/border-active-star.png) 0 0 0 15 repeat;
  -webkit-border-image: url(images/border-active-star.png) 0 0 0 15 repeat;
  -o-border-image: url(images/border-active-star.png) 0 0 0 15 repeat;
  border-image: url(images/border-active-star.png) 0 0 0 15 repeat; }

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 30px; }

.wrapper > header {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 0;
  position: relative;
  overflow: visible;
  display: block; }

main {
  width: 100%;
  margin: 0 auto;
  position: relative; }

section, article, .module {
  margin: 40px 0; }

section > header h2, .module h2 {
  background: #dce8ea;
  padding: 5px; }

.tardis {
  width: 100%;
  margin: 0 auto;
  display: block; }

.copy {
  font-family: "Gill Sans MT", Calibri, sans-serif;
  font-weight: 200;
  font-size: 1.4rem; }

.grayscale {
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  filter: grayscale(1); }

.desaturate {
  -webkit-filter: grayscale(80%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  filter: grayscale(0.8); }

.term {
  display: inline-block;
  margin-right: 10px; }

.term a:after {
  content: ',';
  color: #3E3E3E; }

.term a:last-child:after {
  content: ' '; }

form {
  width: 98%;
  max-width: 800px;
  margin: 0 auto;
  overflow: auto; }

form#mini {
  max-width: 480px; }

form#feedback {
  max-width: 540px; }

form .reverse + li {
  clear: both; }

fieldset {
  border: 2px solid #A1A1A1;
  padding: 20px;
  border-radius: 4px; }

legend {
  font-size: 2rem;
  padding: 10px; }

form li {
  overflow: auto;
  margin-bottom: 10px; }

label {
  width: 20%;
  float: left;
  line-height: 30px;
  text-align: right;
  padding-right: 10px; }

label.widelabel {
  width: 35%; }

input {
  line-height: 1.2;
  padding: 3.33333px 5px;
  font-size: 1.8rem;
  width: 80%;
  float: right; }

input.tinybox {
  width: 2.5rem;
  float: left; }

textarea {
  width: 80%;
  height: 400px;
  float: right;
  font-size: 1.8rem;
  padding: 5px; }

input[type=submit] {
  width: inherit;
  font-size: 1.4rem;
  border-radius: 12px;
  background: #fceabb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceabb), color-stop(50%, #fccd4d), color-stop(51%, #f8b500), color-stop(100%, #fbdf93));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  /* W3C */ }

input[type=submit]:hover {
  background: #f9f2e0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f2e0 0%, #f7db94 50%, #f4d27a 51%, #f9e4ae 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f2e0), color-stop(50%, #f7db94), color-stop(51%, #f4d27a), color-stop(100%, #f9e4ae));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f2e0 0%, #f7db94 50%, #f4d27a 51%, #f9e4ae 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f2e0 0%, #f7db94 50%, #f4d27a 51%, #f9e4ae 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f2e0 0%, #f7db94 50%, #f4d27a 51%, #f9e4ae 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f2e0 0%, #f7db94 50%, #f4d27a 51%, #f9e4ae 100%);
  /* W3C */ }

input[type=submit]:active {
  background: #f9d67c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9d67c 0%, #f9c43e 50%, #f8b500 51%, #f9d67c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9d67c), color-stop(50%, #f9c43e), color-stop(51%, #f8b500), color-stop(100%, #f9d67c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9d67c 0%, #f9c43e 50%, #f8b500 51%, #f9d67c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9d67c 0%, #f9c43e 50%, #f8b500 51%, #f9d67c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9d67c 0%, #f9c43e 50%, #f8b500 51%, #f9d67c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9d67c 0%, #f9c43e 50%, #f8b500 51%, #f9d67c 100%);
  /* W3C */ }

@media (min-width: 0) and (max-width: 767px) {
  .wrapper {
    width: 98%; }

  nav a {
    display: block;
    padding: 5px 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }

  nav a:hover {
    background: #6c9fa7; }

  .social-nav li {
    float: left; } }
@media (min-width: 768px) {
  .grid:before, .grid:after {
    content: "";
    display: table;
    clear: both; }

  [class*='col-'] {
    float: left;
    padding-right: 20px; }

  [class*='col-']:last-of-type {
    padding-right: 0; }

  .grid-pad {
    padding: 20px 0 20px 20px; }

  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px; }

  .reverse {
    float: right; }

  .center {
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .col-2-3 {
    width: 66.66%; }

  .col-1-3 {
    width: 33.33%; }

  .col-1-2 {
    width: 50%; }

  .col-1-4 {
    width: 25%; }

  .col-1-8 {
    width: 12.5%; }

  .col-1-5 {
    width: 20%; }

  .col-2-5 {
    width: 40%; }

  .col-3-5 {
    width: 60%; }

  .col-4-5 {
    width: 80%; }

  img {
    max-width: 500px; }

  .wrapper > header {
    border-bottom: 2px #D0CD22 solid;
    margin-bottom: 100px; }

  .wrapper > header:after {
    position: absolute;
    content: "";
    border-bottom: #dce8ea 6px solid;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1; }

  .blog .wrapper > header {
    margin-bottom: 10px; }

  .blog .grid > header {
    margin: 60px auto;
    position: relative;
    left: -40px; }

  .blog .grid > header .subheading {
    text-align: left;
    padding: 36px 60px; }

  section > header h2 {
    margin: 0;
    position: absolute;
    top: 60px;
    right: 92%;
    width: auto;
    min-width: 150px;
    max-width: 180px;
    text-align: right;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    white-space: nowrap; }

  .resume {
    font-size: 1.8rem; }

  .resume .logo + div {
    margin-top: 10px; }

  .resume p {
    margin: 10px 0; }

  .resume main {
    padding-left: 50px; }

  .resume .wrapper > header {
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    border-bottom: none; }

  .resume .wrapper > header:after {
    border-bottom: none; }

  .resume header h2 {
    position: absolute;
    top: 50px;
    left: -102px;
    width: 150px; }

  .horiz ul {
    float: right;
    margin: 10px 0; }
  .horiz li {
    display: inline-block; }
  .horiz a {
    display: block;
    padding: 5px 10px; }

  section, article {
    margin: 0; }

  section, .module {
    border-left: #D0CD22 dotted 2px;
    border-width: 6px;
    -moz-border-image: url(images/dot.png) 0 0 0 35 repeat;
    -webkit-border-image: url(images/dot.png) 0 0 0 35 repeat;
    -o-border-image: url(images/dot.png) 0 0 0 35 repeat;
    border-image: url(images/dot.png) 0 0 0 35 repeat;
    margin-top: 10px;
    position: relative; }

  section:after, .module:after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 8px;
    width: 8px;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 40% 100%, from(rgba(255, 255, 255, 0.01)), to(#fdfdff)) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.01) 40%, #fdfdff) 1 100%;
    -moz-border-image: -moz-linear-gradient(rgba(255, 255, 255, 0.01) 40%, #fdfdff) 1 100%;
    -o-border-image: -o-linear-gradient(rgba(255, 255, 255, 0.01) 40%, #fdfdff) 1 100%;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 40%, #fdfdff) 1 100%;
    left: -8px;
    top: 0;
    bottom: 0; }

  .module {
    float: left;
    width: 100%; }

  article {
    padding: 0 10px 10px;
    text-align: justify; }

  .date {
    font-size: 2.4rem; }

  .tardis {
    max-width: 300px; } }

/*# sourceMappingURL=screen.css.map */
